@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lilita+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Spicy+Rice&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
:root {
    --soft-pink-color: #b781cb;
    --darkest-pink-color: #543264;
    --dark-pink-color: #9f6ab3;
    --soft-blue-color: #7681ba;
    --dark-gray-color: #232323;
    --gray-color: #808080;
    --light-gray-color: #eaeaea;
    --white-color: #ffffff;
    --black-color: #000000;
}

body {
    background-color: white;
}