.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linkWrapper {
    display: flex;
    gap: 15px;
}

.mainText {
    font-family: 'Abel', sans-serif;
    font-size: 62px;
    color: var(--darkest-pink-color);
}