.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding-top: 10px;
    padding-left: 25px;
    width: 100%;
}

.content {
    color: var(--black-color);
    font-family: 'Ubuntu Sans', sans-serif;
    font-size: 40px;
    border-bottom: 2px solid var(--soft-blue-color);
}

.black {
    color: var(--white-color);
}

.white {
    color: var(--black-color);
}